body.dark .bg { color: #c6d0f5; background-color: #303446; }
body.dark .chroma { color: #c6d0f5; background-color: #303446; -webkit-text-size-adjust: none; }
body.dark .chroma .err { color: #e78284 }
body.dark .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
body.dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
body.dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
body.dark .chroma .hl { background-color: #51576d }
body.dark .chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #838ba7 }
body.dark .chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #838ba7 }
body.dark .chroma .line { display: flex; }
body.dark .chroma .k { color: #ca9ee6 }
body.dark .chroma .kc { color: #ef9f76 }
body.dark .chroma .kd { color: #e78284 }
body.dark .chroma .kn { color: #81c8be }
body.dark .chroma .kp { color: #ca9ee6 }
body.dark .chroma .kr { color: #ca9ee6 }
body.dark .chroma .kt { color: #e78284 }
body.dark .chroma .na { color: #8caaee }
body.dark .chroma .nc { color: #e5c890 }
body.dark .chroma .no { color: #e5c890 }
body.dark .chroma .nd { color: #8caaee; font-weight: bold }
body.dark .chroma .ni { color: #81c8be }
body.dark .chroma .ne { color: #ef9f76 }
body.dark .chroma .nl { color: #99d1db }
body.dark .chroma .nn { color: #ef9f76 }
body.dark .chroma .py { color: #ef9f76 }
body.dark .chroma .nt { color: #ca9ee6 }
body.dark .chroma .nb { color: #99d1db }
body.dark .chroma .bp { color: #99d1db }
body.dark .chroma .nv { color: #f2d5cf }
body.dark .chroma .vc { color: #f2d5cf }
body.dark .chroma .vg { color: #f2d5cf }
body.dark .chroma .vi { color: #f2d5cf }
body.dark .chroma .vm { color: #f2d5cf }
body.dark .chroma .nf { color: #8caaee }
body.dark .chroma .fm { color: #8caaee }
body.dark .chroma .s { color: #a6d189 }
body.dark .chroma .sa { color: #e78284 }
body.dark .chroma .sb { color: #a6d189 }
body.dark .chroma .sc { color: #a6d189 }
body.dark .chroma .dl { color: #8caaee }
body.dark .chroma .sd { color: #737994 }
body.dark .chroma .s2 { color: #a6d189 }
body.dark .chroma .se { color: #8caaee }
body.dark .chroma .sh { color: #737994 }
body.dark .chroma .si { color: #a6d189 }
body.dark .chroma .sx { color: #a6d189 }
body.dark .chroma .sr { color: #81c8be }
body.dark .chroma .s1 { color: #a6d189 }
body.dark .chroma .ss { color: #a6d189 }
body.dark .chroma .m { color: #ef9f76 }
body.dark .chroma .mb { color: #ef9f76 }
body.dark .chroma .mf { color: #ef9f76 }
body.dark .chroma .mh { color: #ef9f76 }
body.dark .chroma .mi { color: #ef9f76 }
body.dark .chroma .il { color: #ef9f76 }
body.dark .chroma .mo { color: #ef9f76 }
body.dark .chroma .o { color: #99d1db; font-weight: bold }
body.dark .chroma .ow { color: #99d1db; font-weight: bold }
body.dark .chroma .or { color: #99d1db; font-weight: bold }
body.dark .chroma .c { color: #737994; font-style: italic }
body.dark .chroma .ch { color: #626880; font-style: italic }
body.dark .chroma .cm { color: #737994; font-style: italic }
body.dark .chroma .c1 { color: #737994; font-style: italic }
body.dark .chroma .cs { color: #737994; font-style: italic }
body.dark .chroma .cp { color: #737994; font-style: italic }
body.dark .chroma .cpf { color: #737994; font-weight: bold; font-style: italic }
body.dark .chroma .gd { color: #e78284; background-color: #414559 }
body.dark .chroma .ge { font-style: italic }
body.dark .chroma .gr { color: #e78284 }
body.dark .chroma .gh { color: #ef9f76; font-weight: bold }
body.dark .chroma .gi { color: #a6d189; background-color: #414559 }
body.dark .chroma .gs { font-weight: bold }
body.dark .chroma .gu { color: #ef9f76; font-weight: bold }
body.dark .chroma .gt { color: #e78284 }
body.dark .chroma .gl { text-decoration: underline }
