/* Background */ body.dark .bg { color: #ef9f76; background-color: #303446; }
/* PreWrapper */ body.dark .chroma { color: #ef9f76; background-color: #303446; }
/* Other */ body.dark .chroma .x {  }
/* Error */ body.dark .chroma .err { color: #e78284 }
/* CodeLine */ body.dark .chroma .cl {  }
/* LineLink */ body.dark .chroma .lnlinks { outline: none; text-decoration: none; color: inherit }
/* LineTableTD */ body.dark .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ body.dark .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ body.dark .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ body.dark .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #774f3b }
/* LineNumbers */ body.dark .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #774f3b }
/* Line */ body.dark .chroma .line { display: flex; }
/* Keyword */ body.dark .chroma .k { color: #ca9ee6 }
/* KeywordConstant */ body.dark .chroma .kc { color: #ca9ee6; font-style: italic }
/* KeywordDeclaration */ body.dark .chroma .kd { color: #ca9ee6 }
/* KeywordNamespace */ body.dark .chroma .kn { color: #ca9ee6 }
/* KeywordPseudo */ body.dark .chroma .kp { color: #ca9ee6; font-weight: bold }
/* KeywordReserved */ body.dark .chroma .kr { color: #ca9ee6 }
/* KeywordType */ body.dark .chroma .kt { color: #e5c890 }
/* Name */ body.dark .chroma .n { color: #babbf1 }
/* NameAttribute */ body.dark .chroma .na { color: #e5c890 }
/* NameBuiltin */ body.dark .chroma .nb { color: #c6d0f5; font-style: italic }
/* NameBuiltinPseudo */ body.dark .chroma .bp { color: #babbf1 }
/* NameClass */ body.dark .chroma .nc { color: #e5c890 }
/* NameConstant */ body.dark .chroma .no { color: #e5c890 }
/* NameDecorator */ body.dark .chroma .nd { color: #f4b8e4 }
/* NameEntity */ body.dark .chroma .ni { color: #f4b8e4 }
/* NameException */ body.dark .chroma .ne { color: #ea999c }
/* NameFunction */ body.dark .chroma .nf { color: #99d1db }
/* NameFunctionMagic */ body.dark .chroma .fm { color: #babbf1 }
/* NameLabel */ body.dark .chroma .nl { color: #e5c890 }
/* NameNamespace */ body.dark .chroma .nn { color: #e5c890 }
/* NameOther */ body.dark .chroma .nx {  }
/* NameProperty */ body.dark .chroma .py { color: #babbf1 }
/* NameTag */ body.dark .chroma .nt { color: #ca9ee6 }
/* NameVariable */ body.dark .chroma .nv {  }
/* NameVariableClass */ body.dark .chroma .vc { color: #babbf1 }
/* NameVariableGlobal */ body.dark .chroma .vg { color: #babbf1 }
/* NameVariableInstance */ body.dark .chroma .vi { color: #babbf1 }
/* NameVariableMagic */ body.dark .chroma .vm { color: #babbf1 }
/* Literal */ body.dark .chroma .l {  }
/* LiteralDate */ body.dark .chroma .ld {  }
/* LiteralString */ body.dark .chroma .s { color: #a6d189 }
/* LiteralStringAffix */ body.dark .chroma .sa { color: #a6d189 }
/* LiteralStringBacktick */ body.dark .chroma .sb { color: #a6d189 }
/* LiteralStringChar */ body.dark .chroma .sc { color: #a6d189 }
/* LiteralStringDelimiter */ body.dark .chroma .dl { color: #a6d189 }
/* LiteralStringDoc */ body.dark .chroma .sd { color: #a6d189 }
/* LiteralStringDouble */ body.dark .chroma .s2 { color: #a6d189 }
/* LiteralStringEscape */ body.dark .chroma .se { color: #8caaee }
/* LiteralStringHeredoc */ body.dark .chroma .sh { color: #a6d189 }
/* LiteralStringInterpol */ body.dark .chroma .si { color: #a6d189 }
/* LiteralStringOther */ body.dark .chroma .sx { color: #a6d189 }
/* LiteralStringRegex */ body.dark .chroma .sr { color: #8caaee }
/* LiteralStringSingle */ body.dark .chroma .s1 { color: #a6d189 }
/* LiteralStringSymbol */ body.dark .chroma .ss { color: #a6d189 }
/* LiteralNumber */ body.dark .chroma .m {  }
/* LiteralNumberBin */ body.dark .chroma .mb {  }
/* LiteralNumberFloat */ body.dark .chroma .mf {  }
/* LiteralNumberHex */ body.dark .chroma .mh {  }
/* LiteralNumberInteger */ body.dark .chroma .mi {  }
/* LiteralNumberIntegerLong */ body.dark .chroma .il {  }
/* LiteralNumberOct */ body.dark .chroma .mo {  }
/* Operator */ body.dark .chroma .o { color: #99d1db }
/* OperatorWord */ body.dark .chroma .ow { color: #99d1db; font-weight: bold }
/* Punctuation */ body.dark .chroma .p { color: #c6d0f5 }
/* Comment */ body.dark .chroma .c { color: #626880; font-style: italic }
/* CommentHashbang */ body.dark .chroma .ch { color: #626880; font-style: italic }
/* CommentMultiline */ body.dark .chroma .cm { color: #626880; font-style: italic }
/* CommentSingle */ body.dark .chroma .c1 { color: #626880; font-style: italic }
/* CommentSpecial */ body.dark .chroma .cs { color: #626880; font-style: italic }
/* CommentPreproc */ body.dark .chroma .cp { color: #8caaee; font-style: italic }
/* CommentPreprocFile */ body.dark .chroma .cpf { color: #8caaee; font-style: italic }
/* Generic */ body.dark .chroma .g {  }
/* GenericDeleted */ body.dark .chroma .gd { color: #ea999c }
/* GenericEmph */ body.dark .chroma .ge { font-style: italic }
/* GenericError */ body.dark .chroma .gr { color: #ea999c }
/* GenericHeading */ body.dark .chroma .gh { color: #99d1db; font-weight: bold }
/* GenericInserted */ body.dark .chroma .gi { color: #a6d189 }
/* GenericOutput */ body.dark .chroma .go {  }
/* GenericPrompt */ body.dark .chroma .gp { color: #737994; font-weight: bold }
/* GenericStrong */ body.dark .chroma .gs { font-weight: bold }
/* GenericSubheading */ body.dark .chroma .gu { color: #99d1db; font-weight: bold }
/* GenericTraceback */ body.dark .chroma .gt { color: #ea999c }
/* GenericUnderline */ body.dark .chroma .gl {  }
/* TextWhitespace */ body.dark .chroma .w { color: #414559 }
